.navbar {
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px;
    font-size: 18px;
}

.navbar_logo {
    font-size: 24px;
    text-shadow: 0 0 1vw #fa1e16b1, 0 0 3vw #fa1e168f, 0 0 10vw #fa1e16a0, 0 0 10vw #fa1e16a1, 0 0 .4vw #FED128, 4px 4px 2px #806914;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    margin-right: 10px;
    position: relative;
    color: white;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, 4px 4px 2px #806914;
    color: #ffda54;
}

.navbar li:hover .navbar_link_name {
    display: block;
}

.navbar_link_name {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 16px;
    transform: translateX(-50%);
    background-color: #333333cc;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    z-index: 1;
}

.navbar li:hover .navbar_link_name::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-bottom-color: #333333cc;
}